body {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}

#namePlate {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

#namePlate h1 {
  font-size: 84px;
  font-family: 'Lato', sans-serif;
}

#namePlate h4 {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

#namePlate u {
    text-decoration: none;
    border-bottom: 2.75px solid white;
}

#aboutDiv {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  height: 40%;
}

#aboutDiv span {
  float: right;
  height: 40%;
  width: 80%;
}

#aboutDiv span h5 {
  font-size: 22px;
  font-family: 'Lato', sans-serif;
}

#aboutDiv img {
  position: absolute;
  vertical-align: middle;
  left: 5%;
  width: 15%;
  border-radius: 50%;
}

#dotContainer {
  position: relative;
}

#dotContainer div {
  position: absolute;
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 20px;
  height: 20px;
  background: green;
  top: 12px;
  left: 0px;
}

.fadeDot {
  position: absolute;
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 100px;
  height: 100px;
  background: green;
}

@media (max-width: 875px) {
  #namePlate h1 {
    font-size: 48px;
  }

  #namePlate h4 {
    font-size: 20px;
  }

  #aboutDiv span h5 {
    font-size: 15px;
  }

  #dotContainer div {
    width: 10px;
    height: 10px;
    top: 6px;
  }
}
@media (max-width: 700px) {
  #namePlate h1 {
    font-size: 48px;
  }

  #namePlate h4 {
    font-size: 20px;
  }

}
